n8n_workflow.json
{
  "name": "AI Testimonial Generator Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-testimonial",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e7b1c344-93af-4389-9a2c-94191373e21d",
      "name": "Webhook (From React App)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ],
      "webhookId": "generate-testimonial"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=PUT_YOUR_GEMINI_API_KEY_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are an AI assistant. Output EXACTLY the following message, replacing the bracketed placeholders with the details provided. Do not add any extra text or formatting.\\n\\nDETAILS:\\n- Customer: \" + ($json.body.customerName || \"Valued Customer\") + \"\\n- Trip: \" + ($json.body.tripType || \"Tour\") + \"\\n- Driver: \" + ($json.body.driverName || \"our driver\") + \"\\n- Notes: \" + ($json.body.experienceNotes || \"the excellent service\") + \"\\n- Link: \" + ($json.body.reviewLink || \"https://g.page/r/xxxx/review\") + \"\\n\\nMESSAGE TO OUTPUT:\\nHi [Customer],\\n\\nThank you for choosing Manivtha Tours & Travels for your [Trip].\\n\\nWe're delighted to hear that you appreciated [Notes] during your journey with our driver, [Driver].\\n\\nYour feedback means a lot to us and helps us continue providing excellent service.\\n\\nWe would greatly appreciate it if you could take a moment to leave us a Google review:\\n\\n[Link]\\n\\nThank you for travelling with us, and we look forward to serving you again.\\n\\nWarm regards,\\nManivtha Tours & Travels\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.4,\n    \"maxOutputTokens\": 800\n  }\n} }}",
        "options": {}
      },
      "id": "31278ba9-094e-4f35-abfa-f97576a1a141",
      "name": "Call Google Gemini AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"message\": $json.candidates[0].content.parts[0].text } }}",
        "options": {}
      },
      "id": "8482fba1-5184-4e94-a4f6-8c433c2a123f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (From React App)": {
      "main": [
        [
          {
            "node": "Call Google Gemini AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Google Gemini AI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f90c8855-46eb-46f0-b8ec-fbd29c3b01db"
}
